DirectoryIndex index.php
Options -Indexes
#https://craym.eu/tutoriels/referencement/variables_url_rewriting.html

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
